@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Makes the body take the full height of the viewport */
    margin: 0;
    font-family: Roboto;
}

button {
    margin-left: 15px;
    margin-right: 15px;
    font-family: Roboto;
}

.board {
    padding-top: 60px;
    text-align: center;
}

.score-board{
    box-shadow: 5px 5px 5px rgba(72, 67, 67, 0.1);
    background-color: rgba(225, 225, 225, 0.2);
    color: rgb(72, 72, 72);
    width: 400px;
    text-align: center;
    font-size: 50px;
    padding: 25px 25px;
    position: center;
  }

.players-selection{
    color: rgb(44, 43, 43);
    font-size: 25px;
    text-align: left;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 10px;
  }

.restart-btn{
    margin-top: 10px;
    text-align: center;
}
