@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    min-width: 400px;
    min-height: 450px;
    margin-left: 0;
    margin-right: 0;
    font-family: Roboto;
}
