<body>
    <div class="score-board"> 
        <div class="players-selection" id="user-label">Player : {{playerSelected}} </div>
        <div class="players-selection" id="bot-label">Bot : {{botSelected}} </div>
        <span>{{playerWins}} : {{botWins}}</span>
        <div class="restart">
            <button mat-button (click)="onRestartClick()">
                <mat-icon class="material-icons">refresh</mat-icon>
                RESTART
            </button>
        </div>
    </div>
    
    <div class="board">
        <button mat-button (click)="onButtonClick(GameClass.STONE)">
            <mat-icon>STONE</mat-icon>
            Stone
        </button>
        <button mat-button (click)="onButtonClick(GameClass.SCISSORS)">
            <mat-icon>Sissors</mat-icon>
            Sissors
        </button>
        <button mat-button (click)="onButtonClick(GameClass.PAPER)">
            <mat-icon>Paper</mat-icon>
            Paper
        </button>
    </div>
</body>
