<body>
    <div class="score-board">
        <div class="winner-box" 
        [ngClass]="{
            'win':  gameResult == GameResult.PLAYERS_WIN,
            'loose': gameResult == GameResult.BOT_WIN,
            'draw': gameResult == GameResult.DRAW
         }">{{gameResult}}</div>
        <div class="players-selection" id="player-label">Player : {{playerSelected}} </div>
        <div class="players-selection" id="bot-label">Bot : {{botSelected}} </div>
        <span id="gameStat">{{playerWins}} : {{botWins}}</span>
        <div class="restart">
            <button mat-button (click)="onRestartClick()">
                <mat-icon class="material-icons">refresh</mat-icon>
                RESTART
            </button>
        </div>
    </div>
    
    <div class="button-board">
        <button mat-button (click)="onButtonClick(GameClass.STONE)">
            <mat-icon svgIcon="stone">STONE</mat-icon>
            Stone
        </button>
        <button mat-button (click)="onButtonClick(GameClass.SCISSORS)">
            <mat-icon svgIcon="scissors">Scissors</mat-icon>
            Sissors
        </button>
        <button mat-button (click)="onButtonClick(GameClass.PAPER)">
            <mat-icon svgIcon="paper">Paper</mat-icon>
            Paper
        </button>
    </div>
</body>
