<div class="selection-board">
    <button mat-button (click)="onPlayersChoiceClick(GameClass.STONE)">
        <mat-icon svgIcon="stone">STONE</mat-icon>
        Stone
    </button>
    <button mat-button (click)="onPlayersChoiceClick(GameClass.SCISSORS)">
        <mat-icon svgIcon="scissors">Scissors</mat-icon>
        Scissors
    </button>
    <button mat-button (click)="onPlayersChoiceClick(GameClass.PAPER)">
        <mat-icon svgIcon="paper">Paper</mat-icon>
        Paper
    </button>
</div>