<div class="selection-board">
    <app-action-button [gameClass]="GameClass.STONE" [svgIcon]="'stone'" [actionText]="'Stone'" (playersActionEvent)="onPlayersActionsEvent($event)"></app-action-button>
    <app-action-button [gameClass]="GameClass.SCISSORS" [svgIcon]="'scissors'" [actionText]="'Scissors'" (playersActionEvent)="onPlayersActionsEvent($event)"></app-action-button>
    <app-action-button [gameClass]="GameClass.PAPER" [svgIcon]="'paper'" [actionText]="'Paper'" (playersActionEvent)="onPlayersActionsEvent($event)"></app-action-button>
</div>