.board {
    padding-top: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.score-board{
    margin: 20px auto;
    box-shadow: 5px 5px 5px rgba(72, 67, 67, 0.1);
    color: rgb(184, 184, 184);
    width: 400px;
    border-radius: 4px;
    text-align: center;
    font-size: 46px;
    padding: 15px 20px;
    position: relative;
  }

.players-selection{
    background: rgb(34, 32, 31);
    font-size: 20px;
    padding: 2px 10px;
  }